<!DOCTYPE html>
<html>
    <head>
        <title>GitHub Search App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    </head>
    <body>
         <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">GitHub Search</a>
    <h1 class="navbar-brand mb-0 right">Made by Varun Raghav</h1>
</nav>
