<% include partials/header %>
<br> <br>
<div class="container" style="float:none; margin:0 auto">
      <h1 class="d-flex justify-content-center">Search for a GitHub Profile</h1>
      <div class="mx-auto" style="width: 30%;">
         <form action="#" method="POST">
            <div class="form-group">
               <input class="form-control" type="text" name="name" placeholder="Profile Name">
            </div>
            <div class="form-group">
               <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
         </form>
      </div>
</div>


<% include partials/footer %>